<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doormatt">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoorMatt">
        <activity android:name=".guard.guard_ui.visitor.GuardVisitorDetailedActivity"/>
        <activity android:name=".guard.guard_ui.resident.GuardResidentDetailedActivity" />
        <activity android:name=".guard.guard_ui.visitor.GuardNewVisitorActivity" />
        <activity android:name=".admin.admin_ui.resident.AddVisitorButton" />
        <activity android:name=".LandingPageActivity" />
        <activity android:name=".admin.AdminMainActivity" />
        <activity android:name=".admin.admin_ui.guard.NewGuardActivity" />
        <activity android:name=".guard.GuardMainActivity" />
        <activity android:name=".SignUpAdminActivity" />
        <activity android:name=".admin.admin_ui.resident.NewResidentActivity" />
        <activity android:name=".admin.admin_ui.resident.AdminResidentDetailedActivity" />
        <activity android:name=".admin.admin_ui.resident.EditResidentActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>